pip==24.2
setuptools>=70.0.0
wheel>=0.44.0

numpy==1.26.4          # cocok dengan TensorFlow 2.16 (TF butuh numpy < 2)
pandas==2.2.2
matplotlib==3.9.0
scikit-learn==1.5.1
streamlit==1.37.1
tensorflow-cpu==2.16.1
