pip==24.2
setuptools>=70.0.0
wheel>=0.44.0
--only-binary=:all:
--prefer-binary

numpy
pandas==2.2.2
matplotlib==3.9.0
scikit-learn==1.5.1
streamlit==1.37.1
tensorflow-cpu==2.16.1
huggingface-hub==0.24.6
protobuf==4.25.3

